@using Calendar_by_I_M_Marinov.Models.Calendar;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DeleteEventViewModel

@{
    bool isSuccess = TempData["IsSuccess"] != null && (bool)TempData["IsSuccess"];
    int deletedInstancesCount = TempData["DeletedInstancesCount"] != null ? (int)TempData["DeletedInstancesCount"] : 0;
    TempData["CalendarId"] = Model.CalendarId;
}

<h2 style="text-align: center;">@(isSuccess ? "Event Deleted Successfully" : "Are you sure you want to delete the following event?")</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" style="text-align: center;">
        @TempData["ErrorMessage"]
    </div>
}
else if (isSuccess)
{
    <div class="alert alert-success" style="text-align: center;">
        @TempData["SuccessMessage"]
        @if (deletedInstancesCount > 1)
        {
            <p>@deletedInstancesCount instances of the annual event were deleted.</p>
        }
    </div>
}

@if (!isSuccess)
{
    <ul style="text-align: center; list-style-type: none;">
        <li style="text-align: center;">
            <br />
            <br />


            @if (Model.RecurringEventId != null)
            {
                <img class="annual-icon" src="/Icons/annual-icon.PNG" alt="annual-icon">
            }

            @if (Model.IsAllDayEvent) // if it is an all day event add the icon
            {
	            <img class="allDay-icon" src="/Icons/all-day.png" alt="allDay-icon">
            }
            <strong>@Model.Summary</strong><br />

            @if (Model.IsAllDayEvent)
            {
                <p>Date: @Model.Start?.ToString("ddd dd MMM yyyy")</p>
            }
            else
            {
                <p>Start: @Model.Start?.ToString("MMMM dd, yyyy h:mm")</p>
                <p>End: @Model.End?.ToString("MMMM dd, yyyy h:mm")</p>
            }

            @if (Model.Location != null)
            {
                <p>Location: @Model.Location</p> <br />
            }


            @if (Model.Description != null)
            {
                <p>Description: @Model.Description</p> <br />
            }
        </li>
    </ul>
    <br />
    <!-- Form to confirm deletion -->
    <form asp-action="DeleteEvent" method="post" style="text-align: center;">
	    <input type="hidden" name="eventId" value="@Model.EventId" />
	    <input type="hidden" name="calendarId" value="@Model.CalendarId" />
        
        @if (Model.RecurringEventId != null)
        {
	        <div class="form-group">
		        <input type="checkbox" id="deleteSeries" name="deleteSeries" value="true" />
		        <label for="deleteSeries">Delete all events in the series?</label>
	        </div>
        }

        <button type="submit" class="btn btn-danger btn-sm">Confirm Delete</button>

        <a asp-action="ListCalendarsAndEvents" asp-route-selectedCalendarId="@Model.CalendarId" class="btn btn-secondary btn-sm">
	        Cancel
        </a>

    </form>
}
else
{
    <a href="@Url.Action("ListCalendarsAndEvents")" class="btn btn-primary btn-sm">Back to Events</a>
}
