@model IEnumerable<Calendar_by_I_M_Marinov.Models.CalendarViewModel>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">



@{
    ViewData["Title"] = "Calendars List";
}

<h2 style="text-align: center;">@ViewData["Title"]</h2>

<!-- Success message for calendar deletion -->
@if (TempData["DeleteSuccessMessage"] != null)
{
    <div class="alert @(TempData["MessageClass"])">
        @TempData["DeleteSuccessMessage"]
    </div>
}

<table class="table centered-table">
	<thead>
	<tr>
		<th>Calendar Name</th>
		<th>Events</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var calendar in Model)
	{
		<tr data-href="@Url.Action("ListCalendarsAndEvents", new { selectedCalendarId = calendar.CalendarId })" class="clickable-row">
			<td title="Access role for this calendar is @calendar.AccessRole.ToUpper()">@calendar.CalendarName</td>
			<td>@calendar.EventsCount</td>
			<td>
				@if (calendar.Primary != true)
				{
						<!-- Remove Button -->
					<button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete('@calendar.CalendarId')">Remove</button>
				}
				@if (calendar.Primary == true)
				{
					<span title="Primary Calendar" class="primary-calendar-icon">
						<i class="fas fa-star" style="color: royalblue; user-select: none;">primary</i>
					</span>
				}
			</td>
		</tr>
	}
	</tbody>
</table>



<script>
    function confirmDelete(calendarId) {
		event.stopPropagation();
        if (confirm("Are you sure you want to delete this calendar?")) {

            var form = document.createElement("form");
            form.method = "post";
            form.action = "/Calendar/DeleteCalendar"; 

            var input = document.createElement("input");
            input.type = "hidden";
            input.name = "calendarId";
            input.value = calendarId;

            form.appendChild(input);
            document.body.appendChild(form);
            form.submit(); 
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        var rows = document.querySelectorAll(".clickable-row");
        rows.forEach(function (row) {
            row.addEventListener("click", function () {
                window.location.href = row.getAttribute("data-href");
            });
        });
    });
</script>
