@model IEnumerable<Calendar_by_I_M_Marinov.Models.CalendarViewModel>

@{
	ViewData["Title"] = "List of all Calendars";
}

<h2 style="text-align: center;">@ViewData["Title"]</h2>

<table class="table table-striped centered-table">
	<thead>
	<tr>
		<th>Calendar Name</th>
		<th>Access Role</th>
		<th>Number of events</th>
	</tr>
	</thead>
	<tbody style>
	@foreach (var calendar in Model)
	{
		<tr>
			<!-- Link around the calendar name -->
			<td>
				<a asp-action="ListCalendarsAndEvents" asp-route-selectedCalendarId="@calendar.CalendarId">
					@calendar.CalendarName
				</a>
			</td>
			<!-- Display Access Role -->
			<td>
				@calendar.AccessRole
			</td>
			
			<td>
				@calendar.EventsCount
			</td>
		</tr>
	}
	</tbody>
</table>