@using Calendar_by_I_M_Marinov.Models.Calendar;
@using Calendar_by_I_M_Marinov.Services.Contracts
@model IEnumerable<UpdatedEventViewModel>


<h2>Update Events Status</h2>

@if (Model != null && Model.Any())
{
    <div class="container">
        @foreach (var eventModel in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    <h3>Event ID: @eventModel.EventId</h3>
                    <h3>Calendar ID: @eventModel.CalendarId</h3>
                </div>
                <div class="card-body">
                    <p><strong>Summary:</strong> @eventModel.Summary</p>
                    <p><strong>Start:</strong> @eventModel.Start</p>
                    <p><strong>End:</strong> @eventModel.End</p>

                    @if (eventModel.Description != null)
                    {
	                    <p><strong>Description:</strong> @eventModel.Description</p>
                    }
                    <p><strong>Location:</strong> @eventModel.Location</p>
                    

                </div>
            </div>
        }
    </div>
}
else
{
    <p>No events were updated.</p>
}
