@model Google.Apis.Calendar.v3.Data.Event

@{
    var calendarId = ViewBag.CalendarId as string; // Retrieve calendarId from ViewBag
}

<h2>New Calendar Event Added!</h2>

@if (ViewBag.DeleteMessage != null)
{
    <div class="alert @((ViewBag.DeleteMessage.Contains("Failed") ? "alert-danger" : "alert-success"))">
        @ViewBag.DeleteMessage
    </div>
}

@if (Model != null)
{
    <span>
        <ul style="list-style-type: none;">
	        <li style="text-align:center">
		        <br />
		        <strong>@Model.Summary</strong><br/>

		        <!-- Check if it's a timed event or an all-day event -->
		        @if (Model.Start.DateTimeDateTimeOffset != null && Model.End.DateTimeDateTimeOffset != null)
		        {
			        <!-- Timed event -->
			        <p>Start: @Model.Start.DateTimeDateTimeOffset?.ToString("MMMM dd, yyyy h:mm tt")</p>
			        <br/>

			        <p>End: @Model.End.DateTimeDateTimeOffset?.ToString("MMMM dd, yyyy h:mm tt")</p>
			        <br/>
		        }
		        else if (!string.IsNullOrEmpty(Model.Start.Date) && !string.IsNullOrEmpty(Model.End.Date))
		        {
			        <!-- All-day event -->
			        <p>Date: @DateTime.Parse(Model.Start.Date).ToString("MMMM dd, yyyy")</p>
		        }

		        <p>Location: @Model.Location</p><br/>

		        <!-- Edit Button -->
		        <a asp-action="EditEvent" asp-route-calendarId="primary" asp-route-eventId="@Model.Id" class="btn btn-primary btn-sm">Edit</a>


		        <!-- Delete Button -->
		        <form asp-action="ConfirmDelete" method="get" style="display:inline;">
			        <input type="hidden" name="calendarId" value="@calendarId"/>
			        <input type="hidden" name="eventId" value="@Model.Id"/>
			        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
		        </form>
	        </li>
        </ul>
    </span>
}
else
{
    <p>No events found.</p>
}
