<h2>Add a new contact</h2>


<div class="add-contact-div">
	<form asp-action="AddContact" method="POST">
		<div class="contact-firstname">
			<input type="text" id="firstName" name="FirstName" placeholder=" " required />
			<label for="firstName">First name</label>

		</div>
	
		<div class="contact-lastname">
			<input type="text" id="lastName" name="LastName" placeholder=" "  required />
			<label for="lastName">Last name</label>
		</div>

		<div class="contact-email">
			<input type="email" id="email" name="Email" placeholder=" " />
			<label for="email">Email</label>
		</div>

		<div class="contact-phoneNumber">
			<input type="tel" id="phoneNumber" name="PhoneNumber" placeholder=" " />
			<label for="phoneNumber">Phone number</label>
		</div>

		<div class="contact-birthday">
			<label for="birthday">Birthday</label>
			<input type="date" id="birthday" name="Birthday" />
		</div>

		<div class="contact-group">
			<label for="contactGroup">Label/Group</label>
			<select id="contactGroup" name="SelectedGroup">
				<option value="">--No Label--</option>
				@foreach (var group in ViewBag.ContactGroups)
				{
					if (group.Name != "chatBuddies" && group.Name != "all" && group.Name != "blocked")
					{
						<option value="@group.ResourceName">@group.FormattedName</option>
					}

				}
			</select>
		</div>

		<div class="add-contact-button">
			<button type="submit">Add Contact</button>
		</div>
	</form>
</div>

@if (ViewBag.ShowSuccessMessage != null && ViewBag.ShowSuccessMessage)
{
	<div class="alert alert-success" role="alert">
		<strong>New contact created!</strong>
		<br /><br />
		Name: @ViewBag.NewContactFirstName @ViewBag.NewContactLastName <br />
		Email: @ViewBag.NewContactEmail <br />
		Phone Number: @ViewBag.NewContactPhoneNumber <br />
		Birthday: @ViewBag.NewContactBirthday <br />

		@if (ViewBag.NewContactLabels != null && ((List<string>)ViewBag.NewContactLabels).Count > 0)
		{
			<p>
				Labels:
				@foreach (var label in ViewBag.NewContactLabels as List<string>)
				{
					<span class="badge badge-info">@label</span> 
				}
			</p>
		}
		else
		{
			<p>No labels available.</p>
		}
	</div>
}