<h2>Add a new contact</h2>


<div class="add-contact-div">
	<form asp-action="AddContact" method="POST">
		<div class="contact-firstname">
			<input type="text" id="firstName" name="FirstName" placeholder=" " required />
			<label for="firstName">First name</label>

		</div>
	
		<div class="contact-lastname">
			<input type="text" id="lastName" name="LastName" placeholder=" "  required />
			<label for="lastName">Last name</label>
		</div>

		<div class="contact-email">
			<input type="email" id="email" name="Email" placeholder=" " />
			<label for="email">Email</label>
		</div>

		<div class="contact-phoneNumber">
			<input type="tel" id="phoneNumber" name="PhoneNumber" placeholder=" " />
			<label for="phoneNumber">Phone number</label>
		</div>

		<div class="contact-birthday">
			<label for="birthday">Birthday</label>
			<input type="date" id="birthday" name="Birthday" />
		</div>

		<div class="contact-group">
			<label for="contactGroup">Label/Group</label>
			<select id="contactGroup" name="SelectedGroup">
				<option value="">--No Label--</option>
				@foreach (var group in ViewBag.ContactGroups)
				{
					if (group.Name != "chatBuddies" && group.Name != "all" && group.Name != "blocked")
					{
						<option value="@group.ResourceName">@group.FormattedName</option>
					}

				}
			</select>
		</div>

		<div class="add-contact-button">
			<button type="submit">Add Contact</button>
		</div>
	</form>
</div>

@{ 
	DateTime parsedDate = DateTime.Now; // default value 
	string[] formats = { "MM/dd/yyyy", "dd/MM/yyyy", "yyyy-MM-dd", "M/d/yyyy" }; // Supported formats
	string formattedBirthday = "";

	if (!string.IsNullOrEmpty(ViewBag.NewContactBirthday) &&
		DateTime.TryParseExact(ViewBag.NewContactBirthday, formats, null, System.Globalization.DateTimeStyles.None, out parsedDate)) // reset the value when parsing 
	{
		formattedBirthday = parsedDate.ToString("MMMM dd, yyyy"); // format the value
	}
	else
	{
		formattedBirthday = "N/A";
	}
}

@if (ViewBag.ShowSuccessMessage != null && ViewBag.ShowSuccessMessage)
{
	<div class="alert alert-success" style="display: flex; flex-direction: column;" role="alert">
		<strong>New contact created!</strong>
		<br /><br />
		<p>Name: @ViewBag.NewContactFirstName @ViewBag.NewContactLastName</p>
		<p>Email: @ViewBag.NewContactEmail</p>
		<p>Phone Number: @ViewBag.NewContactPhoneNumber</p>
		<p>Birthday: @formattedBirthday </p>

		@if (ViewBag.NewContactLabels != null && ViewBag.NewContactLabels.Count > 0)
		{
			<p>
				Labels:
				@foreach (var label in ViewBag.NewContactLabels)
				{
					<span class="badge badge-info">@label</span> 
				}
			</p>
		}
		else
		{
			<p>No labels available.</p>
		}
	</div>
}